<div class="row">
	<div class="box">

		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong> Lista de Candidatos</strong>
				</div>
				<div class="panel-body">
				  <ul class="list-group">
				   	  <a href="#" class="list-group-item list-group-item-action">Silva</a>
					  <a href="#" class="list-group-item list-group-item-action">Ramos</a>
					  <a href="#" class="list-group-item list-group-item-action">Paulo</a>
					  <a href="#" class="list-group-item list-group-item-action disabled">Maria</a>
				  </ul>							
				</div>
				</div>
				<div class="form-group">
					<a href="#/" class="btn btn-lg btn-primary pull-left">Voltar</a>
					
				</div>
			
		</div>

	</div>

</div>